a{
  text-decoration: none!important;
}
ul {
  padding: 0;
  margin: 0;
}
.header-top{
  padding: 20px;
  background-color: #e2e2e2;
  display: flex;
  justify-content: space-between;
}
.social-icons a{
  margin-right: 10px;
}

.contact-info a{
  vertical-align: middle !important;
  margin-right: 10px;
}
.contact-info i{
  margin-right: 5px;
}
.responsive{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 15px;
}
.header-bottom {
  display: inline-block;
  background-color: lightpink;
  width: 100%;
  float: left;
}
.logo {
  float: left;
}
.menu {
  float: right;
}
.menu li {
  display: inline-block;
  font-size: 18px;
  float: left;
  padding: 62px 15px;
}

.dropdown-menu li{
  padding: 0;
}




/*dropdown*/
.dropdown-hover{
  position: relative;
  display: inline-block;
}
.content{
  display: none;
  position: absolute;
  background-color: rgba(241, 241, 241, 0.5215686274509804);
  min-width: 90px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4196078431372549);
}
.content a{
  color: black;
  display: block;
}

.content a:hover {background-color: #ddd;}

.dropdown-hover:hover .content {display: block;}

.dropdown-hover:hover .dropbtn {}


/*searchbar*/
input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../images/searchicon.png');
  background-position: 5px 5px; 
  background-size: 30px 30px;
  background-repeat: no-repeat;
  padding: 10px 5px 5px 40px;
  /*margin-bottom: 80px;*/
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}


/*tabs*/

.tab li{
  padding: 10px 10px 0px;

}
.image_box{
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.image_container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  transition: all 1.8s;
}
.image_container img {
    width: 100%;
}
